<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">leandronagata.com.br</li><li><!--<a class="u-email" href="mailto:cyberloginit#protonmail.com">cyberloginit#protonmail.com</a>--></li></ul>
      <!--<a href="https://m.do.co/c/de1b31930850" target="_blank"><img src="/images/DO_Powered_by_Badge_black.svg" ></a>-->
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <!--<li>Redes Sociais </li>
          <li>[instagram]</li>
          <li>[instagram]</li>
          <li>[instagram]</li> 
           Revisar as redes sociais e pondeirar sobre o e-mail.   -->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Professor, Músico e Aprendiz de Bonsai.</p>
      </div>
    </div>
<h5><center>leandronagata.com.br - desenvolvido por Leandro Nagata - 2022</h5></center>
  </div>

</footer>